@import './reset.css';
@import './theme.css';
@import './base.css';

.card {
  display: grid;
  justify-items: center;
  padding-block-start: var(--large-spacing);
  gap: var(--small-spacing);
  block-size: 500px;
  align-content: start;
  background-position: center 50%;
  background-size: cover;
  background-repeat: no-repeat;

  .product-name {
    font-size: var(--large-text);
  }
  .product-intro {
    font-size: var(--medium-text);
    text-align: center;
  }
  .release-info {
    font-size: var(--small-text);
  }
  .product-links > ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: var(--base-spacing);

    li {
      border-radius: 30px;
      font-size: var(--xx-small-text);

      a {
        padding: var(--x-small-spacing);
        display: block;
      }
      a:focus-visible {
        outline: 2px solid currentColor;
        outline-offset: 3px;
        border-radius: 30px;
      }
    }

    li:nth-child(2) {
      background-color: transparent;
    }
  }
}
